[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pinboard-to-sqlite = "*"
click = "*"
twitterapi = "*"
omegaconf = "*"
requests = "*"
"mastodon.py" = "*"
arrow = "*"
trafilatura = "*"
nltk = "*"
beautifulsoup4 = "*"
kmtools = {editable = true, path = "."}

[dev-packages]
jedi = "*"
pylint = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
kmtools = "kmtools"
